/*-- scss:defaults --*/

// Background and Text
$body-bg: #101010;
$body-color: rgb(227, 227, 227);

// Primary and Accents
$primary: hsl(212, 65%, 57%);
$link-color: hsl(215, 52%, 62%);
$navbar-bg: #131313;

// Sidebar and Footer
$sidebar-bg: #131313;
$footer-bg: #131313;

/*-- scss:rules --*/

// This ensures the main Quarto containers use your dark background
.quarto-container, 
#quarto-content, 
.sidebar, 
footer {
  background-color: $body-bg !important;
  color: $body-color !important;
}

// Top navbar
.navbar {
  background-color: $navbar-bg !important;
}

// Styling links to use your accent color
a {
  color: $link-color;
  &:hover {
    color: $primary;
  }
} 

/* The base style for an annotated span */
/* Base styles for the annotated spans */
.annotated {
  padding: 1px 4px;
  border-radius: 3px;
  font-weight: 500;
  border: 1px solid transparent;
}

/* Label styling (the small tag above/beside the word) */
.annotated::after {
  content: attr(data-label);
  font-size: 0.65em;
  font-weight: bold;
  margin-left: 5px;
  vertical-align: super;
  opacity: 0.8;
  text-transform: uppercase;
}

/* Dark Theme Colors: Using semi-transparent backgrounds for better blending */
.entity      { border-color: rgb(96, 96, 96);}
.indicator   { border-color: rgb(136, 136, 136);}
.uncertainty { border-color: #595959;}
.priority    { border-color: #5c5c5c;}
.spatiality  { border-color: #494949;}


/* 1. Remove the gray box behind the text label */
[id^="mermaid-"] .edgeLabel p,
[id^="mermaid-"] .edgeLabel span,
[id^="mermaid-"] .labelBkg {
  background-color: #101010 !important;
  padding: 0px 3px 0px 3px !important;
  font-size: 12px !important;
  // background: none !important;
  color: #ffffff !important; /* Force white text */
}

/* 2. Remove the node boxes  */
[id^="mermaid-"] .node rect,
[id^="mermaid-"] .node polygon,
[id^="mermaid-"] .node circle {
  fill: #101010 !important;
  stroke: #101010 !important;
}

/* Force transparency on the shapes inside the SVG */
.mermaid svg rect, 
.mermaid svg polygon, 
.mermaid svg circle, 
.mermaid svg path.node {
  fill: transparent !important;
  stroke: transparent !important;
}

.gloss-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #2780e3;
  cursor: help;
}