/*-- scss:defaults --*/

// Background and Text
$body-bg: #101010;
$body-color: rgb(227, 227, 227);

// Primary and Accents
$primary: hsl(212, 65%, 57%);
$link-color: hsl(215, 52%, 62%);
$navbar-bg: #131313;

// Sidebar and Footer
$sidebar-bg: #131313;
$footer-bg: #131313;

/*-- scss:rules --*/

// This ensures the main Quarto containers use your dark background
.quarto-container, 
#quarto-content, 
.sidebar, 
footer {
  background-color: $body-bg !important;
  color: $body-color !important;
}

// Top navbar
.navbar {
  background-color: $navbar-bg !important;
}

// Styling links to use your accent color
a {
  color: $link-color;
  &:hover {
    color: $primary;
  }
}

/* 1. Kill the gray box behind the text label */
[id^="mermaid-"] .edgeLabel p,
[id^="mermaid-"] .edgeLabel span,
[id^="mermaid-"] .labelBkg {
  background-color: #101010 !important;
  padding: 0px 4zpx 0px 4px !important;
  // background: none !important;
  color: #ffffff !important; /* Force white text */
}

/* 2. Remove the node boxes  */
[id^="mermaid-"] .node rect,
[id^="mermaid-"] .node polygon,
[id^="mermaid-"] .node circle {
  fill: #101010 !important;
  stroke: #101010 !important;
}

/* Force transparency on the shapes inside the SVG */
.mermaid svg rect, 
.mermaid svg polygon, 
.mermaid svg circle, 
.mermaid svg path.node {
  fill: transparent !important;
  stroke: transparent !important;
}
